@using StackOverflow.Presentation.WebApp.Models.Question
@model StackOverflow.Presentation.WebApp.Models.User.UserInfoViewModel

<h2>About me</h2>

@Html.Partial("_UserInfoPartial", Model.User)

<hr />
<h2>My rating</h2>

@Html.Partial("_RatingPartial", Model.Rating)

<hr />
<h2>My questions</h2>

@if (Model.Questions.Any())
{
	foreach (QuestionViewModel question in Model.Questions)
	{
		<div class="question-container">
			@Html.Partial("_QuestionPartial", question)
			<span> | </span>
			@Html.ActionLink("Edit", "Edit", "Questions", new { id = question.Id }, null)
		</div>
	}

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/slider")
}
else
{
	<h4>
		No questions, to add a question click @Html.ActionLink("here", "Create", "Questions").
	</h4>
}