@model StackOverflow.Presentation.WebApp.Models.User.UserInfoViewModel

@{
	ViewBag.Title = "User info";
}

<h2>User info</h2>

<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.FirstName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.FirstName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.LastName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LastName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Email)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Email)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Nickname)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Nickname)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Post)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Post)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Experience)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Experience)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Technologies)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Technologies)
		</dd>
	</dl>
</div>