@using StackOverflow.Presentation.WebApp.Models.Question
@using StackOverflow.Presentation.WebApp.Properties;

@model QuestionInfoCollectionViewModel

@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>@Resources.ApplicationName</h1>
	<p class="lead">You can ask your question by clicking @Html.ActionLink("here", "Create", "Question").</p>
</div>

<h2>That ask users</h2>

@foreach (QuestionInfoViewModel question in Model)
{
	<div class="question-container">
		@Html.ActionLink(String.Format("{0} {1}", question.UserFirstName, question.UserLastName), "UserInfo", "About", new { id = question.UserId }, null)
		@Html.Partial("_QuestionPartial", question)
	</div>
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/slider")